openapi: 3.2.0
info:
  title: Bureau Of Industry And Security Search API
  version: '1.0'
  contact:
    name: ITA Developer Portal
    url: https://developer.trade.gov/
  license:
    name: U.S. Government Work
    url: https://www.usa.gov/government-works
  x-refined-note:
  - x-refined-note differs across the merged source definitions and was not carried
  description: 'Operations tagged Search across 2 of this provider''s published API definitions: bureau-of-industry-and-security-openapi.yml, bureau-of-industry-and-security-search-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://data.trade.gov/consolidated_screening_list/v1
  description: Production
tags:
- name: Search
  description: Search the Consolidated Screening List
paths:
  /search:
    get:
      tags:
      - Search
      summary: Search the Consolidated Screening List
      description: 'Search across all entries on the Consolidated Screening List.

        Returns matching parties with name, addresses, country, source

        list, and remarks. Supports fuzzy name matching.'
      operationId: searchCSL
      parameters:
      - name: name
        in: query
        description: Name of an individual or entity to search for.
        schema:
          type: string
      - name: fuzzy_name
        in: query
        description: When true, applies fuzzy name matching.
        schema:
          type: boolean
          default: false
      - name: sources
        in: query
        description: Comma-separated list of source list codes (e.g., SDN, EL, DPL).
        schema:
          type: string
      - name: types
        in: query
        description: Comma-separated list of party types (Individual, Entity, Vessel, Aircraft).
        schema:
          type: string
      - name: countries
        in: query
        description: Comma-separated list of ISO 3166-1 alpha-2 country codes.
        schema:
          type: string
      - name: address
        in: query
        description: Street address fragment to search.
        schema:
          type: string
      - name: city
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      - name: postal_code
        in: query
        schema:
          type: string
      - name: size
        in: query
        description: Number of results to return (max 100).
        schema:
          type: integer
          default: 10
          maximum: 100
      - name: offset
        in: query
        description: Result offset for pagination.
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '401':
          description: Missing or invalid subscription-key.
        '429':
          description: Rate limit exceeded.
      security:
      - subscriptionKey: []
    servers:
    - url: https://data.trade.gov/consolidated_screening_list/v1
      description: Production
  /sources:
    servers:
    - url: https://data.trade.gov/consolidated_screening_list/v1
      description: Production
    get:
      tags:
      - Search
      summary: List the source lists consolidated by the CSL
      description: Returns the source lists that make up the Consolidated Screening List and when each was last imported. Declared as operation `sources` in the ITA API Management operations metadata for this API.
      operationId: listCSLSources
      parameters: []
      responses:
        '200':
          description: The source lists consolidated by the CSL and their import metadata.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Missing or invalid subscription-key.
        '429':
          description: Rate limit exceeded.
      security:
      - subscriptionKey: []
      - subscriptionKeyQuery: []
components:
  schemas:
    Result:
      type: object
      properties:
        id:
          type: string
        source:
          type: string
        entity_number:
          type: integer
          nullable: true
        type:
          type: string
        name:
          type: string
        alt_names:
          type: array
          items:
            type: string
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        federal_register_notice:
          type: string
          nullable: true
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        standard_order:
          type: string
          nullable: true
        license_requirement:
          type: string
          nullable: true
        license_policy:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        call_sign:
          type: string
          nullable: true
        vessel_type:
          type: string
          nullable: true
        gross_tonnage:
          type: string
          nullable: true
        gross_registered_tonnage:
          type: string
          nullable: true
        vessel_flag:
          type: string
          nullable: true
        vessel_owner:
          type: string
          nullable: true
        remarks:
          type: string
          nullable: true
        source_list_url:
          type: string
          format: uri
        source_information_url:
          type: string
          format: uri
        ids:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              number:
                type: string
              country:
                type: string
              issue_date:
                type: string
                format: date
              expiration_date:
                type: string
                format: date
        nationalities:
          type: array
          items:
            type: string
        citizenships:
          type: array
          items:
            type: string
        dates_of_birth:
          type: array
          items:
            type: string
        places_of_birth:
          type: array
          items:
            type: string
    Address:
      type: object
      properties:
        address:
          type: string
        city:
          type: string
        state_or_province:
          type: string
        postal_code:
          type: string
        country:
          type: string
    SearchResponse:
      type: object
      properties:
        total:
          type: integer
        sources_used:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              source_last_updated:
                type: string
                format: date-time
              import_rate:
                type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/Result'
  securitySchemes:
    subscriptionKey:
      type: apiKey
      in: header
      name: subscription-key
      description: Subscription key issued by developer.trade.gov
    subscriptionKeyQuery:
      type: apiKey
      in: query
      name: subscription-key
      description: Subscription key issued by developer.trade.gov, passed as a query string parameter. Declared by the ITA APIM export alongside the header variant.
x-refined-from:
- bureau-of-industry-and-security-openapi.yml
- bureau-of-industry-and-security-search-api-openapi.yml
